*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* .nav{ */
    /* background-color: black; */
    /* height: 70px; */
    /* align-items: center;
    justify-content:space-between;
    padding: 50px; */
    /* white-space: nowrap; */
    /* display:flex; */
/* } */
.nav{
    background-color: #fafafa;
    color: black;
    justify-content: left;
    justify-items: left;
    
}
/* .tag{ */
    /* background-color: black; */
    /* height: 100px; */
    /* color: #fafafa;
    align-items: center;
    justify-content: center;
    padding: 20px;
    display: flex; */
/* } */
.tag{
    color: white;
    background-color: #6f9a37;
    min-height: 100px;
    text-align: center;
}

/* .nav a{ */
    /* color: #fafafa;
    /* text-align: center; */
    /* justify-content: space-between;
    padding: 50px;
    font-size: 17px;
    text-decoration: none;
    display: flex; */ 
/* } */
/* 
.link {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.nav .login{
    flex: 1 ;
    display: flex;
    float: right;
    right: 0;
} */

.sidebar{
    height: 200px;
    width: 150px;
    position: fixed;
    top: 100px;
    left: 0;
    padding-top: 40px;
    background-color: lightblue;
}
.sidebar div {
    padding: 8px;
    font-size: 24px;
    display: block;
}

